.content {
    width: 100%;
    height: 500px;
    margin: 0px;
    padding: 0px;
}

.content .row{
    width: inherit;
    padding: 0px;
}

/* Navbar */
.navbar {
    width: 100%;
    border-bottom: solid 1px lavender;
}

/* End Navbar */

/* Sidebar */
.sidebar {
    width: 100%;
    height: 87vh;
    border-right: solid 1px lavender;
}

/* End Sidebar */

/* Page content */

.content .row .body{
    padding: 0px;
}
/* Navbar  */
.navbar {
    position: fixed;
    height: 60px;
}
.navbar .search{
    font-weight: 5;
}
.navbar .search input{
    border: none;
    width: 50%;
}

.navbar .col-2 span{
    width: 30px;
    padding: 10px;
}

.navbar .col-2 .user{
    background-color:aliceblue;
    border: none;
    border-radius: 50%;
    font-size: 11px;
}

.navbar .search input:focus {
    outline: 1px solid transparent;
}

/* End Page content */

/* Footer  */
.footer {
    display: block;
    position: fixed;
    margin-bottom: 0px;
    width: 100%;
    height: 80px;
    border-top: solid 1px lavender;
    padding: 1%;
    
}


.footer .play-block {
    font-size: 1.2em;
}

.footer .play-block .icon {
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

.footer .play-block .icon:hover {
    background-color: aliceblue;
    border: none;
    border-radius: 50%;
}

/* End Footer  */